body{
    background-color: tomato;
}
#header{
    color: yellowgreen;
} 
.container-home-page{
    text-align: center;
    margin-bottom: 100px;  
    font-size: 18px;
} 
.image-main-page{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} 
.image-Kim{
    float: left;
    margin-right: 15px;
    width: 160px;
    height: 200px;
}  
.image-CCCP{
    width: 160px;
    height: 200px;
} 
.cleared {
    clear: left;
} 
.grid-container{
    display: grid;
    grid-template-columns: 160px auto;  
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#pre-footer{
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: burlywood;
    text-align: center;
    color: dimgrey;
}
#footer{
    margin-top: 5px;
    height: 150px;
    background-color: gray;
    color:black; 
    text-align: center;
}